<!DOCTYPE html>
<html>
	<head>
		<title>Assignment 2</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/css/style.css" />
	</head>
	<body>
		<header>
			<div class="header">
				<ul>
					<li><a href="index">Home</a></li>
					<li><a href="about">About Us</a></li>
					<li><a href="contact">Contact Us</a></li>
				</ul>
			</div>
		</header>
		<div class="resume">
			<h1>Hanxiao Deng</h1>
			<P>Email: <a href="mailto:hxdeng@berkeley.edu">hxdeng@berkeley.edu</a></P>
			<P>Github: <a href="https://github.com/hxdengBerkeley">github.com/hxdengBerkeley</a></P><br>
			<h2>Objectives</h2><hr>
			<p>Sofware Development Engineer(Entry Level) ------- Full-time or Intern</p>
			<p>Navigation Algorithms Engineer        ------- Full-time or Intern</p>
			<br>
			

			<h2>Education</h2><hr>
			<p><strong>University of California at Berkeley</strong>, Berkeley, CA 	08/2017-Present</p>
			<p>Master of Science in Systems Engineering, College of Engineering</p>
			<p>Enrolled Courses: Software Engineering, Web Architecture, Efficient Algorithms and Intractable Problems, Sensors and Signal Interpretation</p><br>	
			<p><strong>Wuhan University</strong>, Wuhan, China 	09/2013-06/2017</p>
			<p>Bachelor of Engineering in Geodesy and Geomatics Engineering, School of Geodesy and Geomatics</p>
			<p>Track: Geodesy and Satellite Navigation GPA 3.87 (91.1)</p><br>	
			<p><strong>Duke Kunshan University</strong>, Kunshan, China 	08/2016-12/2016</p>
			<p>Exchange Student: Global Learning Semester Program</p>
			

			<h2>Experience</h2><hr>
			<p><strong>Graduate Student Researcher</strong>,University of California at Berkeley, Berkeley 	08/2017-Present</p>
			<p>Urban Data Science: Harvested and archived the transportation data of London, New York and San Francisco and analyzed these transportation related data resources to compare the pattern of these cities.</p>
			<div>
				<ul>
					<li>Developed a Python web crawler program to harvest OSM(Open Stree Map) data and dumped into the AWS S3 bucket.</li>
					<li>Formated and indexed data in a SQL database and applied Python pandas and AWS EC2 to anlyzed data based on Docker and CI.</li>
					<li>Compared road networks in coverage, density, type, location and other attributes.</li>
					<li>Compared public transportation’s difference by model, time coverage and spatial coverage.</li>
					<li>Designed a new road network and public transportation system to serve the same demand more and assessed the resilience of dereived networks.</li>
					<li>Created static and dynamic redesigned road network and public transportation system.</li>
				</ul>
			</div>
			<p><strong>Undergraduate Student Researcher</strong>, National Engineering Center for Satellite Position System,Wuhan 	01/2017-06/2017</p>
			<p>Indoor Localization System Based on Sensory Landmarks: Applied indoor sensory landmarks in calibrating inertial navigation cumulative error of smart phones to enhance the accuracy of indoor positioning.</p>
			<div>
				<ul>
					<li>Collected spatial sensory data (Wi-Fi, Bluetooth and magnetic field) of a floor (about 200m2) by a smartphone that was loaded lab-developed sensor signal detection application.</li>
					<li>Developed MATLAB program based on Artificial Neural Network Toolbox to process spatial signal data with unsupervised classification to obtain a signal landmark database.</li>
					<li>Developed Java program, based on the signal landmark database, to correct the inertial navigation cumulative error of smart phone, improving indoors positioning accuracy.</li>
				</ul>
			</div>
			

			<h2>Projects</h2><hr>
			<p><strong>Web Application</strong>, University of California at Berkeley, Berkeley 	08/2017-Present</p>
			<p>Applied industry accepted technologies to build a web application.</p>
			<div>
				<ul>
					<li>Built a web server using Python and Flask.</li>
					<li>Designed dynamic web pages and used POST to send data to web servers.</li>
					<li>Created a set of REST API and added a database to API.</li>
					<li>Configured and launched the web application on AWS EC2 after linked Apache Web to RDS data base.</li>
				</ul>
			</div>


			<h2>Knowledges and Skills</h2><hr>
			<p>Programming Languages: Java, Python; C/C++, C#; Computational Languages: Python, MATLAB, Fortran</p>
			<p>Web Techniques: JavaScript, Ruby, HTML, CSS, SaaS</p>
			<p>Operating Systems: Linux, Mac OS X; Software Skills: AWS, AutoCAD, ArcGIS</p>
			<p>Engineering Field: GIS, GNSS Navigation, Spatial Data Analytics</p>
			<p>Languages: Chinese(Mother Tongue), English(Proficiency), German(Intermediate)</p>


			<h2>Recognition</h2><hr>
			<p>Competition: Third Prize in the China Undergraduate Mathematical Contest 11/ 2014</p>
			<p>Scholarship: Second class scholarship to Wuhan University 2014, 2015, 2016</p>
			<p>	Full scholarship to Duke Kunshan University 08/2016</p>
		</div>
		
		<footer>
			<div class="footer">
				<ul>
					<li><a href="index">Home</a></li>
					<li><a href="about">About Us</a></li>
					<li><a href="contact">Contact Us</a></li>
				</ul>
			</div>
		</footer>
		<script src="/static/js/script.js"></script>
	</body>
</html>
	
